<header>
    <nav class="flex">
        <div class="header-logo">
            <a href="{{ path('home_index') }}" class="flex">
                <img src="/img/header/home-logo.png" alt="Logo Digi-3">
            </a> 
        </div>
        <ul class="flex">
            <li class="{% if app.request.attributes.get('_route') == 'app_dashboard' %}active{% endif %}">
                <a href="{{ path('app_dashboard') }}">Dashboard</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'app_management_project' %}active{% endif %}">
                <a href="{{ path('app_management_project') }}">Gestion de projets</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'app_parameter_generaux' %}active{% endif %}">
                <a href="{{ path('app_parameter_generaux') }}">Paramètres</a>
            </li>
        </ul>
        <input type="text" class="header-search" placeholder="Rechercher" class="search-input">
        <a href="{{ path('app_parameter_generaux') }}" class="header-account flex ">
            <img src="{{user.userAvatar}}" alt="Icone de compte">
        </a>
         <form action="{{ path('app_logout') }}" method="post" class="logout-form flex" onsubmit="return showLogoutDialog(event);">
            <button type="submit" class="logout-btn flex"><img src="/img/header/deconnect.png" alt="Logo Digi-3"></button>
        </form>
    </nav>
    <div id="logout-dialog" class="logout-dialog">
        <div class="logout-dialog-content">
            <span class="close" onclick="closeLogoutDialog()">&times;</span>
            <p style="color: black;">Êtes-vous sûr de vouloir vous déconnecter ?</p>
            <div class="logout-dialog-buttons">
                <button class="dialog-btn " onclick="confirmLogout()">Oui</button>
                <button class="dialog-btn" onclick="closeLogoutDialog()">Non</button>
            </div>
        </div>
    </div>
</header>
<script>
    function showLogoutDialog(event) {
        event.preventDefault(); // Empêche l'envoi du formulaire
        document.getElementById("logout-dialog").style.display = "block"; // Affiche la boîte de dialogue
    }
    function closeLogoutDialog() {
        document.getElementById("logout-dialog").style.display = "none"; // Masque la boîte de dialogue
    }
    function confirmLogout() {
        document.querySelector(".logout-form").submit();
    }
</script>
