{# Tableau de paramètres #}
{% for parameter in parameters %}
<tr class="parameter-item" 
    data-param-id="{{ parameter.id }}" 
    data-param-key="{{ parameter.paramKey }}"
    data-param-value="{{ parameter.paramValue }}"
    data-param-date-from="{{ parameter.paramDateFrom|date('Y-m-d H:i') }}"
    data-param-date-to="{{ parameter.paramDateTo|date('Y-m-d H:i') }}">
    <td>{{ parameter.paramKey }}</td>
    <td>{{ parameter.paramValue }}</td>
    <td>{{ parameter.paramDateFrom|date('Y-m-d H:i') }}</td>
    <td>{{ parameter.paramDateTo|date('Y-m-d H:i') }}</td>
    <td>
        {% if parameter.paramDateTo > 'now'|date('Y-m-d H:i') and canEdit %}
            <div class="parameter-actions flex">
                <button type="button" class="btn-edit-param" data-id="{{ parameter.id }}" title="Modifier">
                    <img src="{{ asset('build/images/icons/edit.png') }}" alt="Modifier">
                </button>
                <button type="button" class="btn-delete-param" data-id="{{ parameter.id }}" title="Supprimer">
                    <img src="{{ asset('build/images/icons/delete.png') }}" alt="Supprimer">
                </button>
            </div>
        {% endif %}
    </td>
</tr>
{% else %}
<tr>
    <td colspan="5" class="no-data">Aucun paramètre configuré</td>
</tr>
{% endfor %} 