{# Paramètres attendus : id, editData (optionnel), entityName #}

<td class="actions">
    {% if canEdit %}
        <button type="button" class="btn-edit" 
            {% for attr, value in edit_data %}
                data-{{ attr }}="{{ value }}"
            {% endfor %}
        >
            <img src="{{ asset('build/images/icons/edit.png') }}" alt="Modifier">
        </button>
    {% endif %}
    {% if canDelete %}
        <button type="button" class="btn-delete" data-id="{{ id }}">
            <img src="{{ asset('build/images/icons/delete.png') }}" alt="Supprimer">
        </button>
    {% endif %}
</td> 