{% extends 'parameter/_base_crud.html.twig' %}

{% block title %}Digi-3 - Gestion des utilisateurs{% endblock %}

{% block table_headers %}
    <th>Avatar</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Rôle</th>
{% endblock %}

{% block table_body %}
    {% for user in entities %}
        <tr>
            <td>
                <img 
                    src="{{ asset(user.userAvatar ?: 'build/images/account/default-avatar.jpg') }}" 
                    alt="Avatar" 
                    class="user-avatar" 
                    style="height: 50px; width: 50px; object-fit: cover"
                >
            </td>
            <td>{{ user.userFirstName }}</td>
            <td>{{ user.userLastName }}</td>
            <td>{{ user.userEmail }}</td>
            <td>
                <span class="role-badge {% if user.userRole == 'ROLE_ADMIN' %}role-admin{% else %}role-user{% endif %}">
                    {% set roleLabels = {
                        'ROLE_USER': 'Utilisateur',
                        'ROLE_DEVELOPER': 'Développeur',
                        'ROLE_LEAD_DEVELOPER': 'Développeur Lead',
                        'ROLE_PROJECT_MANAGER': 'Chef de Projet',
                        'ROLE_RESPONSABLE': 'Responsable',
                        'ROLE_ADMIN': 'Administrateur'
                    } %}
                    {{ roleLabels[user.userRole] ?? user.userRole }}
                </span>
            </td>
            {% include 'parameter/components/_table_actions.html.twig' with {
                'id': user.id,
                'edit_data': {
                    'user-id': user.id,
                    'user-firstname': user.userFirstName,
                    'user-lastname': user.userLastName,
                    'user-email': user.userEmail,
                    'user-role': user.userRole
                }
            } %}
        </tr>
    {% else %}
        <tr>
            <td colspan="6" class="no-data">Aucun utilisateur trouvé</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block modals %}
    {% if canEdit %}
        <div class="modal fade" id="userModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userModalTitle">Ajouter un utilisateur</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% include 'parameter/users/_form.html.twig' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary" id="saveUser">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>

        {% include 'parameter/components/_modal_delete.html.twig' with {
            'entity_name': 'user',
            'entity_label': 'utilisateur'
        } %}
    {% endif %}
{% endblock %}

{% block crud_scripts %}
    <script type="module">
        import { UserManager } from "{{ asset('build/js/parameter/user-management.js') }}";
        new UserManager();
    </script>
{% endblock %}
