<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Digi-3 - Gestion de projets{% endblock %}</title>
    <meta name="description" content="Digi-3 est une application de gestions de projets et de salariés">
    <meta name="keywords" content="Digi-3, gestion de projet, projet, salarié, jira">
    <meta name="author" content="Digi-3">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer">
    <meta name="google-site-verification" content="">

    <!-- Favicon -->
    <link rel="icon" href="{{ asset('img/favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('img/favicon/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('img/favicon/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
    
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <!-- Open Graph -->
    <meta property="og:title" content="Digi-3 - Gestion de projets">
    <meta property="og:description" content="Digi-3 est une application de gestions de projets et de salariés">
    <meta property="og:image" content="{{ asset('assets/img/readme.webp') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.digi-3.fr">
    
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}
    <script src="{{ asset('script/parameter.js') }}"></script>
    {% endblock %}
</body>
</html>