<div class="parameter_menu">
  <ul class="flex-col">
    {# Accessible à tous les utilisateurs #}
    <a href="{{ path('app_parameter_generaux') }}">
      <li class="{% if app.request.attributes.get('_route') starts with 'app_parameter_generaux' %}parameter_menu_active{% endif %}">
        <i class="fas fa-cog"></i> GÉNÉRAUX
      </li>
    </a>

    {# Accessible aux chefs de projet et admin #}
    {% if is_granted('ROLE_PROJECT_MANAGER') %}
      <a href="{{ path('app_parameter_users') }}">
        <li class="{% if app.request.attributes.get('_route') starts with 'app_parameter_users' %}parameter_menu_active{% endif %}">
          <i class="fas fa-users"></i> GESTION USER
        </li>
      </a>
      
      <a href="{{ path('app_parameter_customers') }}">
        <li class="{% if app.request.attributes.get('_route') starts with 'app_parameter_customers' %}parameter_menu_active{% endif %}">
          <i class="fas fa-building"></i> GESTION CLIENTS
        </li>
      </a>
    {% endif %}

    {# Accessible uniquement à l'admin #}
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('app_parameter_app_configuration') }}">
        <li class="{% if app.request.attributes.get('_route') starts with 'app_parameter_app_configuration' %}parameter_menu_active{% endif %}">
          <i class="fas fa-tools"></i> CONFIGURATION
        </li>
      </a>
    {% endif %}

    {# Accessible à tous les utilisateurs #}
    <a href="{{ path('app_parameter_about') }}">
      <li class="{% if app.request.attributes.get('_route') starts with 'app_parameter_about' %}parameter_menu_active{% endif %}">
        <i class="fas fa-info-circle"></i> À PROPOS
      </li>
    </a>
  </ul>
</div>
