<div class="parameter_menu">
  <ul class="flex-col">
    <li
      class="{% if app.request.attributes.get('_route') == 'app_parameter_generaux' %}parameter_menu_active{% endif %}"
    >
      <a href="{{ path('app_parameter_generaux') }}">
        <i class="fas fa-cogs" style="margin-right: 8px;"></i>
        Général
      </a>
    </li>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
      <li
        class="{% if app.request.attributes.get('_route') == 'app_parameter_users' %}parameter_menu_active{% endif %}"
      >
        <a href="{{ path('app_parameter_users') }}">
          <i class="fas fa-users" style="margin-right: 8px;"></i>
          Gestion User
        </a>
      </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_LEAD_DEV') or is_granted('ROLE_DEV') %}
      <li
        class="{% if app.request.attributes.get('_route') == 'app_parameter_projects' %}parameter_menu_active{% endif %}"
      >
        <a href="{{ path('app_parameter_projects') }}">
          <i class="fas fa-briefcase" style="margin-right: 8px;"></i>
          Gestion Projets
        </a>
      </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_LEAD_DEV') %}
      <li
        class="{% if app.request.attributes.get('_route') == 'app_parameter_customers' %}parameter_menu_active{% endif %}"
      >
        <a href="{{ path('app_parameter_customers') }}">
          <i class="fas fa-user-tie" style="margin-right: 8px;"></i>
          Gestion Client
        </a>
      </li>
    {% endif %}
    <li
      class="{% if app.request.attributes.get('_route') == 'app_parameter_about' %}parameter_menu_active{% endif %}"
    >
      <a href="{{ path('app_parameter_about') }}">
        <i class="fas fa-info-circle" style="margin-right: 8px;"></i>
        À Propos
      </a>
    </li>
  </ul>
</div>