<div class="parameter_menu">
  <ul class="flex-col">
    <li
      class="{% if app.request.attributes.get('_route') == 'app_parameter_generaux' %}parameter_menu_active{% endif %}"
    >
      <a href="{{ path('app_parameter_generaux') }}">Général</a>
    </li>
    <li
      class="{% if app.request.attributes.get('_route') == 'app_parameter_users' %}parameter_menu_active{% endif %}"
    >
      <a href="{{ path('app_parameter_users') }}">Gestion User</a>
    </li>
    <li
      class="{% if app.request.attributes.get('_route') == 'app_parameter_projects' %}parameter_menu_active{% endif %}"
    >
      <a href="{{ path('app_parameter_projects') }}">Gestion Projets</a>
    </li>
    <li
      class="{% if app.request.attributes.get('_route') == 'app_parameter_customers' %}parameter_menu_active{% endif %}"
    >
      <a href="{{ path('app_parameter_customers') }}">Gestion Client</a>
    </li>
    <li
      class="{% if app.request.attributes.get('_route') == 'app_parameter_about' %}parameter_menu_active{% endif %}"
    >
      <a href="{{ path('app_parameter_about') }}">À Propos</a>
    </li>
  </ul>
</div>
