{% extends 'base.html.twig' %}
{% block title %}Digi-3 - Configuration de l'application{% endblock %} 
{% block body %}
{%include 'includes/header.html.twig' %}
<section class="parameter_landing flex">
  <div class="parameter_menu">
    <ul class="flex-col">
      <li><a href="{{ path('app_parameter_generaux') }}">GENERAUX</a></li>
      <li><a href="">GESTION USER</a></li>
      <li><a href="">GESTION PROJET</a></li>
      <li><a href="">GESTION CLIENTS</a></li>
      <li class="parameter_menu_active"><a href="{{ path('app_parameter_app_configuration') }}">CONFIGURATION</a></li>
      <li><a href="{{ path('app_parameter_about') }}">A PROPOS</a></li>
    </ul>
  </div>
  <div class="parameter_content">
    <h3>Configuration de l'application</h3>
  {# <form id="searchForm" method="POST">
    <input
      type="text"
      id="searchInput"
      name="search_term"
      placeholder="Rechercher un paramètre"
    />
    <button type="submit">Rechercher</button>
  </form> #}
  {{ form_start(searchForm, { 'attr': { 'id': 'searchForm' } }) }}
    {{ form_widget(searchForm.searchTerm) }} 
    <button type="submit">Rechercher</button>
{{ form_end(searchForm) }}
  <table >
    <thead>
      <tr>  
        <th>Clée</th>
        <th>Valeur</th>
        <th>DateDebut</th>
        <th>DateFin</th>
        <th>Utilisateur</th>
      </tr>
    </thead>
    <tbody id="parameter_table">
      {% include 'parameter/tableau_parameter.html.twig' with { 'parameter': parameters } %}
    </tbody>
  </table>
    {# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="parameter_create">Créer un paramètre</button>
    {{ form_end(form) }} #}
  </div>
</section>
{% endblock %}