{% extends 'base.html.twig' %}

{% block title %}Digi-3 - Paramètres généraux{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/parameter/general.css') }}" async>
{% endblock %}

{% block body %}

  {# Inclusion de l'en-tête avec les informations de l'utilisateur #}
  {% include 'includes/header.html.twig' with {'user': user} %}
  
  <section class="parameter_landing flex">
    {# Menu des paramètres #}
    {% include 'parameter/_menu.html.twig' %}
    
    <div class="parameter_content">
      <div class="account-page">
        <div class="account-header flex">
          <h2 class="account-header-title">Mon compte</h2>
          <div class="account-header-bar"></div>  {# Barre horizontale #}
          <div class="account-header-vertical-bar"></div> {# Barre verticale ajoutée à droite #}
          <div class="account-header-info flex">
            {# Informations personnelles de l'utilisateur alignées à droite de la barre #}
            <div class="account-header-info-text">
              <p><strong>Prénom :</strong> {{ user.userFirstName }}</p>
              <p><strong>Nom :</strong> {{ user.userLastName }}</p>
              <p><strong>Email :</strong> {{ user.userEmail }}</p>
              <p><strong>Rôle :</strong> {{ user.userRole }}</p>
            </div>
            
            {# Section photo de profil avec option de changement #}
            <div class="profile-pic flex">
              <label class="flex" for="file">
                <img src="/img/account/account-change.png" alt="Icone changement de photo de profil" class="profile-pic-icon" />
              </label>
              <input id="file" type="file" name="profile_picture" style="display:none" accept="image/png, image/jpeg, image/gif" />
              <img id="output" src="{{ user.userAvatar }}" alt="Photo de profil de {{ user.userEmail }}" class="user-avatar" />
            </div>
          </div>
        </div>

        <div class="account-body flex">
          {# Formulaire pour modifier l'adresse e-mail #}
          <div class="account-email flex-col">
            <h3>Modifier son adresse e-mail</h3>
            {{ form_start(emailForm, { method: "POST" }) }}
              {{ form_row(emailForm.email) }}
              {{ form_row(emailForm.password) }}
              <div>
                <button type="submit" class="btn-submit">Nouvelle adresse e-mail</button>
                
                {# Affichage des messages d'erreur et de succès #}
                {% for message in app.flashes('error') %}
                  <div>{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                  <div>{{ message }}</div>
                {% endfor %}
              </div>
            {{ form_end(emailForm) }}
          </div>
          
          {# Formulaire pour modifier le mot de passe #}
          <div class="account-password flex-col">
            <h3>Modifier son mot de passe</h3>
            {{ form_start(passwordForm, { method: "POST" }) }}
              {{ form_row(passwordForm.actual_password) }}
              {{ form_row(passwordForm.password) }}
              <button type="submit" class="btn-submit">Nouveau mot de passe</button>
            {{ form_end(passwordForm) }}
            
            {# Affichage des messages d'erreur pour le mot de passe #}
            {% for message in app.flashes('error') %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('script/parameter/general.js') }}"></script>
{% endblock %}