{% extends 'base.html.twig' %}

{% block title %}Digi-3 - Paramètres généraux{% endblock %}

{% block body %}
    {# Inclusion du header #}
    {% include 'includes/header.html.twig' %}

    <section class="parameter_landing flex">
        <div class="parameter_menu">
            <ul class="flex-col">
                <li class="{% if app.request.attributes.get('_route') == 'app_parameter_generaux' %}parameter_menu_active{% endif %}">
                    <a href="{{ path('app_parameter_generaux') }}">GENERAUX</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'app_gestion_user' %}parameter_menu_active{% endif %}">
                    <a href="">GESTION USER</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'app_gestion_projet' %}parameter_menu_active{% endif %}">
                    <a href="">GESTION PROJET</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'app_gestion_clients' %}parameter_menu_active{% endif %}">
                    <a href="">GESTION CLIENTS</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'app_parameter_app_configuration' %}parameter_menu_active{% endif %}">
                    <a href="{{ path('app_parameter_app_configuration') }}">CONFIGURATION</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'app_parameter_about' %}parameter_menu_active{% endif %}">
                    <a href="{{ path('app_parameter_about') }}">A PROPOS</a>
                </li>
            </ul>
        </div>
        <div class="parameter_content">
            <div class="account-page">
                <div class="account-header flex">
                    <h2>Mon compte</h2>
                    <div class="account-info flex">
                        <div class="title flex-col">
                            <p>{{ user.name }}</p>
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="profile-pic flex">
                            <label class="flex" for="file">
                                <img src="/img/account/account-change.png" alt="Icone changement de photo de profil">
                            </label>
                            <input id="file" type="file" name="profile_picture" />
                            <img id="output" src="{{ user.profilePictureUrl }}" alt="Photo de profil de {{ user.email }}">
                        </div>
                    </div>
                </div>
                <div class="account-body flex">
                    <div class="account-email flex-col">
                        <h3>Modifier son adresse e-mail</h3>
                        {{ form_start(emailForm, {'method': 'POST'}) }}
                        {{ form_row(emailForm.new_email) }} 
                        {{ form_row(emailForm.email) }} 
                        {{ form_row(emailForm.password) }} 
                        <button type="submit" class="btn-submit">Nouvelle adresse e-mail</button>
                        {{ form_end(emailForm) }}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                    </div>
                    <div class="account-password flex-col">
                        <h3>Modifier son mot de passe</h3>
                        {{ form_start(passwordForm, {'method': 'POST'}) }}
                        {{ form_row(passwordForm.actual_password) }}
                        {{ form_row(passwordForm.password) }}
                        <button type="submit" class="btn-submit">Nouveau mot de passe</button>
                        {{ form_end(passwordForm) }}
                        {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
<script>
    document.getElementById('file').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            console.log("Fichier sélectionné:", file.name);
            
            const formData = new FormData();
            formData.append('profile_picture', file);
    
            fetch("/parameter/generaux", {
                method: "POST",
                body: formData // Envoie les données du formulaire
            })
            .then(response => {
                console.log("Réponse du serveur:", response);
                return response.json(); // Essayez de parser la réponse en JSON
            })
            .then(data => {
                console.log("Données récupérées:", data);
                if (data.success) {
                    document.getElementById('output').src = data.newProfilePictureUrl; // Mettez à jour l'image de profil
                } else {
                    console.error("Erreur:", data.error);
                }
            })
            .catch(error => {
                console.error("Erreur lors de la requête:", error);
            });
        }
    });
    
</script>
{% endblock %}
