{% for parameter in parameters %}
<tr>
  <td>{{ parameter.paramKey }}</td>
  <td>{{ parameter.paramValue }}</td>
  <td>{{ parameter.paramDateFrom|date('Y-m-d') }}</td>
  <td>{{ parameter.paramDateTo|date('Y-m-d') }}</td>
  <td>{{ parameter.paramUser }}</td>
  <td>
    {# {{ form_start(parameter.editForm) }}    
    {{ form_widget(parameter.editForm) }}
  
    {{ form_end(parameter.editForm) }} #}
    <button type="submit">Modifier</button>
    <button type="submit">Supprimer</button>
    {# {{ form_start(parameter.deleteForm) }}
  
    {{ form_end(parameter.deleteForm) }} #}
  </td>
</tr>
{% endfor %}
