{% for parameter in parameters %}
<tr>
  <td>{{ parameter.paramKey }}</td>
  <td>{{ parameter.paramValue }}</td>
  <td>{{ parameter.paramDateFrom|date('Y-m-d') }}</td>
  <td>{{ parameter.paramDateTo|date('Y-m-d') }}</td>
  <td>
    {# {{ form_start(parameter.editForm) }}    
    {{ form_widget(parameter.editForm) }}
  
    {{ form_end(parameter.editForm) }} #}
    {# <button type="submit">M</button> #}
    <button type="submit" id="deleteBtn" class="flex" data-id="{{ parameter.id }}"><img src="/img/settings/supprimer.png" alt=""></button>
  </td>
</tr>
{% endfor %}
