{% for parameter in parameters %}
<tr class="parameter-item" data-param-id="{{ parameter.id }}" data-param-date-to="{{ parameter.paramDateTo|date('Y-m-d') }}">
  <td>{{ parameter.paramKey }}</td>
  <td>{{ parameter.paramValue }}</td>
  <td>{{ parameter.paramDateFrom|date('Y-m-d') }}</td>
  <td>{{ parameter.paramDateTo|date('Y-m-d') }}</td>
  <td>
    {% if parameter.paramDateTo > 'now'|date('Y-m-d') %}
      <button type="submit" id="deleteBtn" class="flex" data-id="{{ parameter.id }}"><img src="/img/settings/supprimer.png" alt="Supprimer"></button>
          {# {{ form_start(parameter.editForm) }}    
    {{ form_widget(parameter.editForm) }}
  
    {{ form_end(parameter.editForm) }} #}
    {# <button type="submit"></button> #}
    {% else %}
    {% endif %}
  </td>
</tr>
{% endfor %}
