{# templates/parameter/update_general_settings.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mise à jour des paramètres généraux{% endblock %}

{% block body %}
<h1>Mise à jour des paramètres généraux</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Mettre à jour</button>
{{ form_end(form) }}

{% if generalSettings %}
    <h2>Paramètres actuels</h2>
    <p>Clé : {{ generalSettings.settingKey }}</p>
    <p>Valeur : {{ generalSettings.settingValue }}</p>
{% endif %}
{% endblock %}
