{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="auth-container">
        <h2>Connectez-vous à votre compte</h2>
        {{ form_start(form, {'attr': {'class': 'login-form'}}) }}
            <div>
                {{ form_row(form.username, {'label': 'Email'}) }}
            </div>
            <div>
                {{ form_row(form.password, {'label': 'Mot de passe'}) }}
            </div>
            <div>
                {{ form_row(form.remember_me) }} {# Si vous avez ce champ dans le formulaire #}
            </div>
            <button type="submit">Se connecter</button>
        {{ form_end(form) }}

        {# Affichage des erreurs de connexion #}
        {% if error %}
            <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <div>
            <a href="{{ path('app_register') }}">S'inscrire</a>
        </div>
    </div>
{% endblock %}
