{{ form_start(form, {'action': path('app_reset_password_confirm', {'token': token}), 'method': 'POST'}) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    
    {% for message in app.flashes('error') %}
        <div class="error" role="alert">{{ message }}</div>
    {% endfor %}
    
    <button type="submit" class="auth-submit">Réinitialiser le mot de passe</button>
{{ form_end(form) }} 