{% extends 'base.html.twig' %}

{% block title %}Digi-3 - Dashboard{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/dashboard/dashboard.css') }}" async>
{% endblock %}

{% block body %}
    {% include 'includes/header.html.twig' %}

    <div class="dashboard-container">
        <div class="parameter_menu">
            <div class="user-info card">
                <div class="user-avatar">
                    <img src="{{ user.userAvatar }}" alt="User Avatar">
                </div>
                <div class="user-details">
                    <h3>{{ user.userFirstName }}</h3>
                    <h3>{{ user.userLastName }}</h3>
                    <p>{{ user.userEmail }}</p>
                    <p>Salarié</p>
                </div>
            </div>

            <div class="user-stats card">
                <div class="tasks">
                    <p><i class="fas fa-tasks"></i> Tâches</p>
                    <h3>85% <span class="up-arrow">↑</span></h3>
                </div>
                <div class="projects">
                    <p><i class="fas fa-project-diagram"></i> Projets</p>
                    <h3>13 <span class="down-arrow">↓</span></h3>
                </div>
            </div>

            <nav class="sidebar-nav card">
                <ul>
                    <a href="#" class="btn-link"><i class="fas fa-home"></i> Page d'accueil</a>
                    <a href="#" class="btn-link"><i class="fas fa-calendar-alt"></i> Calendrier</a>
                    <a href="#" class="btn-link"><i class="fas fa-chart-line"></i> Efficacité des tâches</a>
                    <a href="#" class="btn-link"><i class="fas fa-users"></i> Productivité individuelle</a>
                </ul>
            </nav>
        </div>

        <div class="main-content">
            <div class="calendar card">
                <h4>Calendrier</h4>
                <iframe src="https://calendar.google.com/calendar/embed?src=your_calendar_id&ctz=Europe%2FParis" 
                        style="border: 0" 
                        width="100%" 
                        height="400px" 
                        frameborder="0" 
                        scrolling="no"></iframe>
            </div>

            <div class="project-info card">
                <h4>12 Projets Actifs</h4>
                <div class="project-progress">
                    <div class="progress-bar">
                        <span class="progress" style="width: 66%;"></span>
                    </div>
                    <p>8 en cours</p>
                </div>
                <a href="#" class="more-info"><i class="fas fa-info-circle"></i> En savoir plus</a>
            </div>

            <div class="efficiency-box card">
                <h4><i class="fas fa-cogs"></i> Efficacité des tâches</h4>
            </div>

            <div class="productivity-box card">
                <h4><i class="fas fa-rocket"></i> Productivité individuelle</h4>
                <p>Liste de tâches + un total</p>
                <p>Comparaison entre effort prévisionnel et réel</p>
            </div>
        </div>
    </div>
{% endblock %}


